@import "~bootstrap/scss/bootstrap.scss";

.title{
    color: black;
    background-color: rgba(255, 255, 255, 0.452);
    font-size: xx-large;
    
    
}

.text{
    color: black;
    background-color: rgba(255, 255, 255, 0.452);
}
